<!DOCTYPE html>

<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="author" content="Zinchenko Bogdan">
    <title>My page</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sono">
</head>

<body>

    <div class="planets">
        <img src="../static/img/bg_gif.gif">
    </div>

    <div class="header__wrapper">
        <header>
            <h1>Welcome to my page!</h1>
            <ul class="header_ul">
                <li class="header_li" id="li1">
                    <a href="" id="a1">Button</a>
                </li>
                <li class="header_li" id="li2">
                    <a href="" id="a2">Button</a>
                </li>
                <li class="header_li" id="li3">
                    <a href="https://wa.me/" target="_blank" id="a4">Whatsapp</a>
                </li>
                <li class="header_li" id="li4">
                    <a href="https://vk.com/" target="_blank" id="a3">Vk</a>
                </li>
            </ul>
        </header>
    </div>
    
    <div class="container_1">
        <h1>Introduction into what my page is about.</h1>
    </div>

    <div class="container_2">
        <div id="box1" class="c_1_animate">
            <h1>This page is about</h1>
            <h1>different programming</h1>
            <h1>languages.</h1>
        </div>
        <div id="box2">
            <div class="c_1_animate">
                <p class="container_2_ul">Languages</p>
                <ul>
                    <li>&emsp;&emsp;Python</li>
                    <li>&emsp;&emsp;C++</li>
                    <li>&emsp;&emsp;Golang</li>
                    <li>&emsp;&emsp;...</li>
                </ul>
            </div>
            <div class="c_1_animate">
                <p class="container_2_ul">Parameters</p>
                <ul>
                    <li>&emsp;&emsp;compiled / interpreted</li>
                    <li>&emsp;&emsp;Speed</li>
                    <li>&emsp;&emsp;Oportunity</li>
                    <li>&emsp;&emsp;Documentation</li>
                </ul>
            </div>
            <div class="c_1_animate">
                <p class="container_2_ul">Other</p>
                <ul>
                    <li>&emsp;&emsp;Other information</li>
                    <li>&emsp;&emsp;I Don't</li>
                    <li>&emsp;&emsp;Know what</li>
                    <li>&emsp;&emsp;To write</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container_3">
        <p>Clickbait :)))</p>
        <a class="loading_btn" href="">Just filling space :) <span class="clickable"><<< click on it</span></a>
        <p>Clickbait :)))</p>
    </div>

    <div class="container_4">
        <div class="container_4_text">
            <p>
                All languages are good. It depends of
                your <span class="purposes">purposes</span>. For-example, if you
                want to try yourself in programming,
                you should try <span class="basics">Basics</span> and <span class="scratch">Scratch</span>.
                But if you have serious plans and you want to make <span class="money">money</span> from it,
                you must know some facts. We need different languages for different <span class="purposes">purposes</span>.
                <br><br>
                For game-dev: <span class="c">C++</span> & <span class="c">C#</span>.
                <br><br>
                For backend: <span class="python">Python</span> & <span class="ruby">Ruby</span> & <span class="php">PHP</span>.
                <br><br>
                For frontend: <span class="js">JavaScipt</span> + <span class="html">HTML</span> + <span class="css">CSS</span>.
                <br><br>
                For different application: <span class="c">Kotlin</span> & <span class="basics">Swift</span>.
                <br><br>
                Also you can learn father of all languages : <span class="assemb">Assembler</span>.
            </p>
        </div>
        <div class="blur">
            <table id="diff_table">
                <caption>Difference</caption>
                <tbody>
                    <tr>
                        <th>Language</th>
                        <th>Interp / Comp</th>
                        <th>Speed</th>
                        <th>Oportunity</th>
                        <th>Documentation</th>
                    </tr>
                    <tr>
                        <td>Python</td>
                        <td>Interp</td>
                        <td>Slow</td>
                        <td>Big</td>
                        <td>Great</td>
                    </tr>
                    <tr>
                        <td>Golang</td>
                        <td>Complie</td>
                        <td>Fast</td>
                        <td>Big</td>
                        <td>Normal</td>
                    </tr>
                    <tr>
                        <td>JavaScript</td>
                        <td>Interp</td>
                        <td>Slow</td>
                        <td>Big</td>
                        <td>Good</td>
                    </tr>
                    <tr>
                        <td>C++</td>
                        <td>Compile</td>
                        <td>Fast</td>
                        <td>Big</td>
                        <td>Good</td>
                    </tr>
                    <tr>
                        <td>C</td>
                        <td>Complie</td>
                        <td>Fast</td>
                        <td>Big</td>
                        <td>Good</td>
                    </tr>
                    <tr>
                        <td>C#</td>
                        <td>Complie</td>
                        <td>Fast</td>
                        <td>Big</td>
                        <td>Good</td>
                    </tr>
                    <tr>
                        <td>Java</td>
                        <td>50/50</td>
                        <td>Fast</td>
                        <td>Big</td>
                        <td>Good</td>
                    </tr>
                    <tr>
                        <td>Assembler</td>
                        <td>Compile</td>
                        <td>Fastest</td>
                        <td>Big</td>
                        <td>Normal</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="container_5" id="python_chat">
        <a href="#python_chat"><p id="p1">Try to explore some code!</p></a>
    </div>

    <div class="container_6">
        <div class="container">
            <div class="box_py">
                <img src="../static/img/python.png">
                <p class="funny_txt"> <span id="py">PY</span><span id="thon">THON</span></p>
                <a href="" onclick="return false;" id="try_py">
                    <p>Explore python code!</p>
                </a>
            </div>
            <div class="chat_py">
                <p class="chat_p">Click</p>
                <p class="chat_p">On</p>
                <p class="chat_p">The</p>
                <p class="chat_p">Button</p>
                <p class="chat_p">To</p>
                <p class="chat_p">See</p>
                <p class="chat_p">Code</p>
                <p class="chat_p">On</p>
                <p class="chat_p">Python</p>
                <p class="chat_p"></p>
                <p class="chat_p"></p>
            </div>
        </div>

        <div class="container">
            <div class="box_js">
                <img src="../static/img/javascript.png">
                <p class="funny_txt" id="javascript">JAVASCRIPT</p>
                <a href="" onclick="return false;" id="try_js">
                    <p>Explore javascript code!</p>
                </a>
            </div>
            <div class="chat_js">
                <p class="chat_p2">Click</p>
                <p class="chat_p2">On</p>
                <p class="chat_p2">The</p>
                <p class="chat_p2">Button</p>
                <p class="chat_p2">To</p>
                <p class="chat_p2">See</p>
                <p class="chat_p2">Code</p>
                <p class="chat_p2">On</p>
                <p class="chat_p2">Javascript</p>
                <p class="chat_p2"></p>
                <p class="chat_p2"></p>
            </div>
        </div>

        <div class="container-ext">
            <div class="box_ass">
                <img src="../static/img/assembler.png">
                <p class="funny_txt" id="assembler">ASSEMBLER</p>
                <a href="" onclick="return false;" id="try_ass">
                    <p>Explore assembler code!</p>
                </a>
            </div>
            <div class="chat_ass">
                <p class="chat_p3">Click</p>
                <p class="chat_p3">On</p>
                <p class="chat_p3">The</p>
                <p class="chat_p3">Button</p>
                <p class="chat_p3">To</p>
                <p class="chat_p3">See</p>
                <p class="chat_p3">Code</p>
                <p class="chat_p3">On</p>
                <p class="chat_p3">Assembler</p>
                <p class="chat_p3"></p>
                <p class="chat_p3"></p>
                <p class="chat_p3"></p>
                <p class="chat_p3"></p>
                <p class="chat_p3"></p>
                <p class="chat_p3"></p>
                <p class="chat_p3"></p>
                <p class="chat_p3"></p>
                <p class="chat_p3"></p>
                <p class="chat_p3"></p>
                <p class="chat_p3"></p>
                <p class="chat_p3"></p>
                <p class="chat_p3"></p>
                <p class="chat_p3"></p>
                <p class="chat_p3"></p>
                <p class="chat_p3"></p>
                <p class="chat_p3"></p>
                <p class="chat_p3"></p>
                <p class="chat_p3"></p>
                <p class="chat_p3"></p>
                <p class="chat_p3"></p>
                <p class="chat_p3"></p>
                <p class="chat_p3"></p>
                <p class="chat_p3"></p>
            </div>
        </div>
    </div>

    <div class="footer__wrapper">
        <footer>
            © 2023 Bogdan inc. Very cool WebPage!
        </footer>
    </div>

    <script src="../static/js/app.js"></script>
</body>
</html>